{{ define "main" }}
<div class="single">
  <div class="singleHead">
    <div class="singleHeadTexts">
      <h1 class="singleHeadTitle">{{.Title}}</h1>
      <p class="singleHeadDesc">{{.Params.description}}</p>
      <div class="singleHeadDetail">
        <img src={{.Params.avatar}} loading="lazy" alt="" class="singleAvatar">
        <span>{{ range (.GetTerms "authors")}}
          <a href={{.Permalink}}>{{ .Name }}</a>
          {{end}}
        </span>
        <div>
          <time class="time-format">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
        </div>
        <div  style="display: flex; gap: 15px; flex-wrap: wrap;" >
          {{ range (.GetTerms "categories")}}
          {{ $nameHash := crypto.MD5 .Name }}
          {{ $color := printf "#%s" (substr $nameHash 0 6) }}
          <div class="slide-button " style="background-color: {{ $color }}">
            <a href={{.Permalink}} class=" slide-content"         
         
        >{{ .Name }} </a>

          </div>
         
        {{end}}
        </div>
         
      </div>
      <time class="time-format1">{{ dateFormat .Site.Params.dateFormat .Date }}</time>
    </div>
    <img src={{ .Params.imageBig }} alt={{.Title}} class="singleHeadImg">
  </div>
  <div class="singleBottom">
    <div class="singleContent">{{ .Content }}</div>
    <div class="singleRightBar">
      {{ partial "rightBar" .}}
    </div>
  </div>
</div>
{{ end }}