:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
}

* {
  margin: 0;
  box-sizing: border-box;
  word-spacing: 1px;
}
p {
  word-spacing: 1px;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: "Quicksand", sans-serif;
  font-display: swap;
}

body.light {
  --bg: #dee4eb;
  --text: #0b1529;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.time-format {
  display: none;
}

/* NAVBAR START */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: var(--bg);
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 5px;
  border-radius: 10px;
}

.toggle {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--bgSoft);
  border: 0.5px solid var(--textSoft);
  padding: 5px;
  position: relative;
}

.ball {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: var(--textSoft);
  border: 1px solid var(--bgSoft);
}

.light .ball {
  left: unset;
  right: 0;
}

body.light .toggle {
  visibility: visible;
  transition: 500ms ease-in-out;
}

body.light .ball {
  visibility: visible;
  transition: 500ms ease-in-out;
}
body.light .light .ball {
  visibility: visible;
  transition: 500ms ease-in-out;
}
/* NAVBAR END */

/* FOOTER START */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 14px;
}

.social {
  display: flex;
  gap: 10px;
}

/* FOOTER END */

/* LIST START */

.listItem {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.listItemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.listItemTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItemDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.listItemAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.listItemCategories {
  display: flex;
  gap: 10px;
}

.listItemCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--textSoft);
  color: var(--bgSoft);
  font-size: 14px;
}

.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-top: 80px;
  margin-bottom: 30px;
  justify-content: center;
}

.page-item {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

body.light .page-item.disabled {
  background-color: #cbd5e1;
  color: #131c2f;
  border: none;
}

.page-item.active {
  background-color: var(--text);
  color: var(--bg);
}
.page-item.disabled {
  background-color: #313845;
  cursor: not-allowed;
  bottom: none;
}
pre {
  padding: 2rem 2rem;
  width: 100%;
  overflow-x: scroll;
  margin-bottom: 2rem;
}

.rainbow-btn {
  margin: 2px 3px;
  text-align: center;
  position: relative;
  color: var(--textSoft);
  text-decoration: none;
  border-radius: 5px;
  box-sizing: border-box;
  display: block;
  overflow: hidden;
  padding: 5px;
}
.rainbow-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  background-size: 50% 100%;
}
.rainbow-btn small {
  position: relative;
  z-index: 2;
  padding: 6px 10px;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  background: #000;
  border-radius: 3px;
  display: block;
  justify-content: center;
  box-sizing: border-box;
  height: 100%;
  font-size: 14px;
}
body.light .rainbow-btn small {
  color: black;
}
.rainbow-btn:focus:before,
.rainbow-btn:hover:before {
  animation: rainbow-btn 0.75s linear infinite;
}

@keyframes rainbow-btn {
  to {
    transform: translateX(-50%);
  }
}

/* pre span{
  width: 1px !important;
} */

blockquote {
  background-color: #283246;
  padding: 0.5rem 2rem;
}

body.light blockquote {
  background-color: #acb6c366;
}
body.light em {
  background-color: #e5e9ee85;
}

body.light hr {
  border: 1px solid #e5e9ee85;
}
em {
  background-color: #283246;
  padding: 0.3rem;
  font-style: normal;
}

/* LIST END */

/* SINGLE START */

.singleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.singleHeadTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleHeadTitle {
  font-size: 48px;
}

.singleHeadDesc {
  font-size: 20px;
  font-weight: 300;
}

.singleHeadDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.singleAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.singleCategory {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 14px;
}

.singleHeadImg {
  flex: 1;
  max-height: 350px;
  object-fit: cover;
}

.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.text-highlight-glow {
  background-color: #b7bec659;
  animation: glowHighlight 1.5s infinite;
  padding: 2px 6px;
  border-radius: 4px;
}
.extra-bold {
  font-weight: 900;
  color: var(--textSoft);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.723);
  letter-spacing: 0.7px;
  text-transform: uppercase; /* Optional */
}

body.light .extra-bold {
  font-weight: 900;
  color: #111;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.841);
  letter-spacing: 0.7px;
  text-transform: uppercase; /* Optional */
}

.singleContent {
  flex: 3;
  font-size: 20px;
  line-height: 30px;
  overflow-x: hidden !important;
  width: 100%;
  padding: 20px;
}
.text-highlight {
  background-color: #ffff99; /* Light yellow */
  padding: 2px 4px;
  border-radius: 3px;
}

.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 20px 0px;
}

.singleContent img {
  width: 100%;
  object-fit: cover;
}

.singleRightBar {
  flex: 1;
}

/* SINGLE END */

/* RIGHTBAR START */

.rightBar {
  position: sticky;
  top: 100px;
}

.rightBarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightBarImgHr {
  display: none;
}

.gradient-border-button1 {
  position: relative;
  padding: 4px 9px;
  /* background: #1e293b; */
  /* z-index: ; */
  /* font-size: 14px; */
  border: none;
  border-radius: 4px;
  color: #131c2f;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-border-button1::before {
  content: "";
  position: absolute;
  inset: -3px;
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);

  /* background: linear-gradient(45deg, #60a5fa, #171323, #60a5fa); */
  border-radius: 4px;
  z-index: -1;
  transition: opacity 0.3s ease;
  animation: borderRotate 4s linear infinite;
}

@keyframes borderRotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.gradient-border-button1:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
  color: #1e293b;
}

.slide-button {
  position: relative;
  padding: 3px 5px;
  font-size: 14px;
  color: var(--textSoft);
  /* background: none; */
  border: 1px solid #60a5fa;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}
body.light .slide-button {
  color: black;
}

.shareIcons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.shareTitle {
  font-size: 14px;
  width: max-content;
  font-weight: 500;
  padding: 3px 0px;
  border-bottom: 0.5px solid gray;
}
.share {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 2opx;
}
.contentSide {
  flex: 1;
  position: sticky;
  top: 15rem;
  height: max-content;
}
.copyLink {
  cursor: pointer;
  border: none;
  border-radius: 2px;
  font-size: 12px;
  padding: 5px;
  background-color: #283246;
  color: var(--mainLight);
  width: max-content;
}

.copyLink:hover {
  background-color: #343c4e;
}
body.light .copyLink {
  background-color: #b7bec6dd;
  color: #555;
  width: max-content;
}
body.light pre {
  color: var(--textSoft);
}

body.light .copyLink:hover {
  background-color: #77889add;
}

body.light em {
  background-color: #e5e9ee85;
}
em {
  padding: 3px;
}
pre {
  background-color: #282a36;
}

.join {
  margin-top: 50px;
}

.dose {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.doseText {
  color: tomato;
  font-size: 16px;
  font-weight: 500;
}

.joinText {
  background-color: #283246;
  color: #cbd5e1;
  padding: 10px;
}

body.light .dose {
  margin-bottom: 5px;
}
body.light .doseText {
  font-size: 16px;
  font-weight: 500 !important;
}

body.light .joinText {
  background-color: #b7bec6dd;
  color: var(--bgSoft);
}

.slide-content {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: relative;
  z-index: 1;
}

.slide-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  /* background: #60a5fa; */
  transition: transform 0.5s ease;
  transform: skewX(-20deg);
}

.slide-button:hover::before {
  transform: skewX(-20deg) translateX(100%);
}

.slide-button:hover .icon {
  transform: translateX(5px);
}

.icon {
  transition: transform 0.3s ease;
}

/* RIGHTBAR END */

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .singleHeadImg {
    display: none;
  }

  .singleBottom {
    flex-direction: column-reverse;
  }

  .rightBarImg {
    display: none;
  }

  .rightBarImgHr {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .singleHeadTitle {
    font-size: 30px;
  }
  .links {
    font-size: 14px;
  }

  .listItemImage {
    display: none;
  }

  .searchButton span {
    display: none;
  }
  .footer {
    justify-content: space-around;
  }

  .footerLinks {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .singleHeadDetail {
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .time-format {
    display: block;
  }
  .navbar {
    /* padding: 20px; */
  }
  .listItemCategories {
    flex-wrap: wrap;
    margin-left: 5px;
  }
  .time-format1 {
    display: none;
  }
  .singleHeadDetail {
    flex-direction: column;
  }
  .container {
    max-width: 475px;
  }
  .listItemTitle {
    font-size: 24px;
  }
  .footer {
    height: 5rem;
    flex-direction: column-reverse;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  .footerLinks {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .social {
    gap: 20px;
  }
  .pagination {
    gap: 20px;
  }
  .homepage-link {
    display: none;
  }
  .listItemDesc {
    letter-spacing: 0.8px;
  }
  .logo {
    font-size: 20px;
  }
}

#searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

#searchResults li {
  list-style: none;
  margin: 5px 0;
}

#searchResults li a {
  text-decoration: none;
  color: #007acc;
}

#searchResults li a:hover {
  text-decoration: underline;
}

.search-container {
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

#searchInput {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.results-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 8px 8px;
  max-height: 250px;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin-top: -1px;
}

.result-item {
  list-style: none;
  padding: 12px 16px;
  border-bottom: 1px solid #f1f1f1;
  transition: background 0.2s ease-in-out;
}

.result-item:last-child {
  border-bottom: none;
}

.result-item a {
  text-decoration: none;
  color: #333;
  display: block;
  font-weight: 500;
}

.result-item:hover {
  background-color: #f7f7f7;
}

.result-item a:hover {
  color: #0077cc;
}
/* 
.highlight {
  background-color: yellow;
  color: black;
  border: 2px solid orange;
} */

.chroma {
  font-size: 17px!important;
}
