:root {
  --bg: #0b1529;
  --bgSoft: #1f3050;
  --text: #dee4eb;
  --textSoft: #cbd2d9;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg);
  visibility: visible;
  transition: 300ms ease-in-out;
  color: var(--text);
  font-family: "Quicksand", sans-serif;
}

body.light {
  --bg: #dee4eb;
  --text: #0b1529;
  visibility: visible;
  transition: 300ms ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1366px;
  padding-left: 50px;
  padding-right: 50px;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Container Styling */
.category-container {
  display: flex; /* Align children in a row */
  gap: 10px; /* Space between each link */
  flex-wrap: wrap; /* Wrap to the next line if necessary */
  padding: 10px; /* Padding around the container */
}

/* Link Styling */
.category-link {
  padding: 14px 16px; /* Padding inside each link */
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  border-radius: 2px;
  margin: 12px; /* Rounded corners */
}
 /* Define keyframe animation outside of selector */
 

.category-link:hover {
  color: #0e0d0d;
  text-decoration: none;
  border-radius: 2px;
  transform: rotate(10deg);
  animation: pulsate1 0.5s ease-in-out infinite alternate;
}
@keyframes pulsate1 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

 
/* NAVBAR START */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  background-color: var(--bg);
}

.logo {
  font-weight:700;
  font-size: 24px;
}

.links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.searchButton {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  padding: 5px;
  border-radius: 10px;
}

.toggle {
  width: 50px;
  height: 27px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--bgSoft);
  border: .5px solid var(--textSoft);
  padding: 2px;
  position: relative;
  visibility: visible;
}

.day {
  visibility: visible;
}

.ball {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: var(--textSoft);
  border: 1px solid var(--bgSoft);
  visibility: visible;
  transition: 500ms ease-in-out !important;
}

.light .ball {
  left: unset;
  right: 0;
  transition: 500ms ease-in-out !important;

}

/* NAVBAR END */

/* FOOTER START */

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  font-size: 14px;
}

.social {
  display: flex;
  gap: 10px;
}

/* FOOTER END */

/* LIST START */

.listItem {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;
}

.listItemImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.listItemTexts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItemDetail {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
}

.listItemAvatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
}

.listItemCategories {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
  flex-wrap: wrap;
  font-size: 24px;
  letter-spacing: 2px;
}

.listItemCategory {
  /* padding: 5px; */
  border-radius: 0px;
  background-color: var(--bgSoft);
  color: var(--textSoft);
  font-size: 14px;
  margin: 0px 5px

}
.gradient-border-button1 {
  position: relative;
  padding: 6px 12px;
  color: rgb(12, 12, 12);
  background: #1e293b;
  z-index: -1;
  /* font-size: 14px; */
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-border-button1::before {
  content: '';
  position: absolute;
  inset: -3px;
  /* background-color: #D9AFD9; */
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  /* background: linear-gradient(45deg, #60a5fa, #171323, #60a5fa); */
  border-radius: 1px;
  z-index: -1;
  transition: opacity 0.3s ease;
  animation: borderRotate 4s linear infinite;
}

@keyframes borderRotate {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.gradient-border-button1:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
}


.gradient-border-button {
  position: relative;
  padding: 10px 12px;
  color: rgb(12, 12, 12);
  background: #1e293b;
  /* z-index: -1; */
  /* font-size: 14px; */
  border: none;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gradient-border-button::before {
  content: '';
  position: absolute;
  inset: -3px;
  /* background-color: #D9AFD9; */
background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);

  /* background: linear-gradient(45deg, #60a5fa, #171323, #60a5fa); */
  border-radius: 1px;
  z-index: -1;
  transition: opacity 0.3s ease;
  animation: borderRotate 4s linear infinite;
}

@keyframes borderRotate {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}

.gradient-border-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(96, 165, 250, 0.4);
}


.pagination {
  display: flex;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-top: 80px;
  margin-bottom: 30px;
}

.page-item {
  border: 1px solid gray;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.page-item.active {
  background-color: var(--text);
  color: var(--bg);
}
.page-item.disabled {
  background-color: #8d94a2;
  cursor: not-allowed;
}
.page-item.disabled .light{
  background-color: #4a4b4c;
  cursor: not-allowed;
}

/* LIST END */

/* SINGLE START */

.singleHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.singleHeadTexts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.singleHeadTitle {
  font-size: 48px;
}

.singleHeadDesc {
  font-size: 20px;
  font-weight: 300;
}

.singleHeadDetail {
  display: flex;
  align-items: center;
  gap: 20px;
}

.singleAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.singleCategory {
  position: relative;
    padding: 1rem 2rem;
    font-size: 17px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    
}

.singleCategory::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
      45deg,
      transparent,
      rgba(255, 255, 255, 0.3),
      transparent
  );
  transform: rotate(45deg) translateY(-100%);
  transition: transform 0.5s ease;
}

.singleCategory:hover::before {
  transform: rotate(45deg) translateY(100%);
}



.singleHeadImg {
  flex: 1;
  max-height: 350px;
  object-fit: cover;
}

.singleBottom {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 50px;
}

.singleContent {
  flex: 3;
  font-size: 20px;
  line-height: 32px;
}

.singleContent p,
.singleContent h1,
.singleContent h2,
.singleContent h3 {
  margin: 20px 0px;
}

.singleContent img {
  width: 100%;
  object-fit: cover;
}

.singleContent pre {
  width: 100%;
  overflow-x: scroll;
  padding: 20px;
}

.singleRightBar {
  flex: 1;
}

/* SINGLE END */

/* RIGHTBAR START */

.rightBar {
  position: sticky;
  top: 100px;
}

.rightBarImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rightBarImgHr {
  display: none;
}

/* RIGHTBAR END */

@media (max-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media (max-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .singleHeadImg {
    display: none;
  }

  .singleBottom {
    flex-direction: column-reverse;
  }

  .rightBarImg {
    display: none;
  }

  .rightBarImgHr {
    display: block;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .links {
    font-size: 14px;
  }

  .listItemImage {
    display: none;
  }

  .searchButton span {
    display: none;
  }
}
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}
